*{
    padding: 0;
    border: 0;
    margin: 0;
}

#navbar {
    height: 15vh;
    box-sizing: border-box;
    background-color: #444054;
    padding: 0%;
    margin: 0%;
}

#logo {
    width: 300px;
    margin-top: -20px;
    margin-left: -20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    margin-top: -40px;
}

li {
    display: inline;
    float: right;
    margin-right: 25px;
}

.banner {
    background:url(./assets/banner.jpg);
    background-size: cover;
    font-size: 80px;
    color: black;
    text-align: center;
    padding: 40px 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .big-text {
    font-size: 130px;
    font-weight:800;
    animation-delay: 1s;
  }
  .banner a {
    display: inline-block;
    background: rgb(230, 132, 21);
    color: #333;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    transition: .3s;
    border-radius: 2rem;
  }
  .banner a:hover {
    background: #333;
    color: rgb(230, 132, 21);
    padding: 15px 20px;
  }

  #solar {
    color: darkorange;
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .container {
    display: flex;
    

  }
  
  .left-half {
    background-color: #fff;
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  .right-half {
    background-color: #fff;
    flex: 1;
    padding: 1rem;
  }

  .title {
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    font-size: 32px;
  }
  
  .about {
    color: darkorange;
  }

  .innerdiv {
    margin: auto;
    padding: 20px 120px;
    line-height: 30px;
  }
  